/*<!--Mohammed Al-Jaberi-->
    <!--5IF-->
    <!--22/05/2023-->*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins" sans-serif;
  
}

.contanier{
    width: 100%;
    height: 100vh;
    padding: 80px 15px 15px;
    
}


.contanier .content{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.content .div-text span{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
}
.content .div-text h3{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #444;
}
.content .div-text h1{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #444;
    margin-bottom: 25px;
}
.content .div-text p{
    color: #666;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}
.content .div-text .btn{
    padding: 15px 35px;
    background-color: #fff;
    color: #79bccf;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}
.content .div-text .btn:hover{
    color: #fff;
    background-color: #79bccf;
}



.content .div-img img{
    width: 350px;
}
.content .small-img{
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
}
.content .small-img img{
    width: 80px;
    cursor: pointer;
    transition: 0.4s;
}
.content .small-img img:hover{
    transform: scale(1.2);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
    z-index: 100000;
    background-color: white;
    
    
    
   
  }
  header.sticky{
    padding: 5px 100px;
    background: #000;
  
  }
  header .logo{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  
  
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  header ul li{
    position: relative;
    list-style: none;
    
  
  }
  
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s ease;
  
  }
  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url();
    background-size: cover;
  
  }
  header.sticky.logo,
  header.sticky ul li a{
    color: #000;
  }
    
  
  .logo{
    display: flex;
    align-items: center;
    
  
  }
  .logo i{
    color: var(--main-color);
    font-size: 35px;
    margin-right: 3px;
  }
  .logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
  
  }
  :root{
    --bg-color: #222327;
    --text-color: #000;
    --main-color: #29fd53;
  
  }


  #imgLogo{
    height: 50px;
    
    
  }
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  
}

ul li {
	margin-bottom: 10px;
}

ul li a {
	color: #ddd;
	text-decoration: none;
}

ul li a:hover {
	color: #29fd53;
}

#imgLogo2{
  height: 35px;
  
  
}


.small-img {
  display: flex;
  flex-wrap: wrap;
}

.small-img figure {
  flex: 1;
  margin: 5px;
  text-align: center;
}


.small-img img {
  max-width: 100%;
  height: auto;
  
  transition: transform 0.3s ease-in-out;
}

.small-img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

figcaption {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

#Fennec{
      bottom: -50px;
}