/*<!--Mohammed Al-Jaberi-->
    <!--5IF-->
    <!--22/05/2023-->*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins" sans-serif;
  
  
}
.hero{
    background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
    height: auto;
    margin-top: 150px;
    
    
}
.hero .contanier{
    width: 80%;
    margin: auto;
    
}

.hero .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .content .div-text h4{
    color: #fff;
    font-size: 35px;
    letter-spacing: 2px;
}
.hero .content .div-text h1{
    color: #fff;
    font-size: 60px;
    margin: 25px 0 10px;
}
.hero .content .div-text span{
    color: #000;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5;
}
.hero .content .div-text .social-link{
    margin-top: 20px;
    margin-bottom: 50px;
}
.hero .content .div-text .social-link a i{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 600;
}
.hero .content .div-text .social-link a i:hover{
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 10px #000;
}
.hero .content .div-text .btn{
    padding: 10px 20px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
}
.hero .content .div-text .btn:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0;
}





.hero .content .div-img{
    width: 50%;
}
.hero .content .div-img img{
    width: 100%;
    position: relative;
    animation: img-portfile 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
@keyframes img-portfile{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
    z-index: 100000;
    background-color: #fff;
    
    
    
   
  }
  header.sticky{
    padding: 5px 100px;
    background: #000;
  
  }
  header .logo{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  
  
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  header ul li{
    position: relative;
    list-style: none;
    
  
  }
  
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s ease;
  
  }
  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url();
    background-size: cover;
  
  }
  header.sticky.logo,
  header.sticky ul li a{
    color: #000;
  }
    
  
  .logo{
    display: flex;
    align-items: center;
    
  
  }
  .logo i{
    color: var(--main-color);
    font-size: 35px;
    margin-right: 3px;
  }
  .logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
  
  }
  :root{
    --bg-color: #222327;
    --text-color: #000;
    --main-color: #29fd53;
  
  }


  #imgLogo{
    height: 50px;
    
    
  }
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  
}

ul li {
	margin-bottom: 10px;
}

ul li a {
	color: #ddd;
	text-decoration: none;
}

ul li a:hover {
	color: #29fd53;
}

#imgLogo2{
  height: 35px;
  
  
}

.contact {
  display: flex;
  align-items: center;
}

#imgLogo {
  margin-right: 10px;
  height: 40px;
}
